---
layout: default
---

<div class="home">
  <section id="project-section">
    <h1 class="page-heading">Projects</h1>
    <ul class="post-list">
      {% for project in site.projects %}
        <li>
          <h2 class="project-title">
            <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
          </h2>
          <span class="post-meta">{{ project.short_description }}</span>
        </li>
      {% endfor %}
    </ul>
  </section>
  <section id="post-section">
    <h1 class="page-heading">Posts</h1>
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>