/**
 * Resume
 */
h1 {
	color: blue;
}

h1.page-heading {
	font-size: 2.5em;
	color: #000;
}

ul {
	margin-left: 15px;
}

ul ul {
	margin-left: 25px;
}

#skills {
    float: left;
    width: calc(30% - 11px);
    padding-right: 10px;
}

#edu_and_work {
	border-left: 1px solid #e8e8e8;
	float: right;
	width: 70%;
}

#education {
	padding-bottom: 25px;
	border-bottom: 1px solid #e8e8e8;
}

#edu_and_work h1 {
	padding-left: 30px;
}

#skills h2, #education_bottom_container h2 {
	font-size: 1.25em;
	line-height: 1.25em;
	margin-bottom: 5px;
}

#skills ul ul {
	margin-bottom: 5px;
}

#skills ul ul li {
	font-size: 14px;
	line-height: 1.75;
}

#education_top_container, #education_bottom_container {
	width: calc(100% - 30px);
	margin-left: 30px;
}

#education_top_container {
	display: inline-block;
}

#education_bottom_container {
	clear: both;
	display: inline-block;
}

h1#work_header {
	padding-top: 20px;
}

#education_bottom_container ul, #education_bottom_container ul ul {
	margin-bottom: 0;
}

#education_bottom_container ul li {
	font-size: 16px;
	clear: both;
}

#education_bottom_container ul ul li {
	font-size: 14px;
}

#school, #classes_left_column {
	float: left;
	width: calc(50% - 15px);
	padding-right: 15px;
	display: block;
}

#caldwell, #classes_right_column {
	float: left;
	width: calc(50% - 15px);
	padding-left: 15px;
	display: inline-block;
}

#caldwell ul li {
	font-size: 14px;
}

#caldwell p {
	margin-bottom: 0;
}

.edu_main, .job_name {
	font-weight: 400;
}

#work {
	width: calc(100% - 30px);
	margin-left: 30px;
}

.company h2 {
	font-size: 20px;
	line-height: 25px;
}

.work_title_and_date p {
	margin-top: 5px;
	font-size: 14px;
	line-height: 19px;
}

.work_description ul {
	width: 100%;
}

ul.work_description li {
	font-size: 14px;
}

.company_header {
	height: 90px;
}

#caldwell_header {
	height: 130px;
}

#caldwell_work_title_and_date_right {
	float: right;
	width: calc(50% - 15px);
}

#caldwell_work_title_and_date_left {
	float: left;
	width: calc(50% - 15px);
}

.header_small {
	display: none;
}

.header_large {
	display: block;
}

/* Responsive media tags */
@media only screen and (max-width : 690px) {

	#skills {
		margin-top: 15px;
		padding-top: 25px;
		width: 100%;
		border-top: 1px solid #e8e8e8;
	}

	#skills_column_left, #skills_column_right, #skills_column_far_right  {
		float: left;
		width: calc(33% - 10px);
	}

	#skills_column_right {
		width: calc(33% - 12px);
		margin-left: 18px;
		margin-right: 15px;
	}

	#edu_and_work {
		border: 0;
		width: 100%;
	}
	#school, #classes_left_column, #classes_right_column {
		width: 100%;
	}
	#caldwell, #classes_right_column {
		width: 100%;
		padding-right: 15px;
		padding-left: 0;
	}
	#classes_left_column ul, #classes_left_column ul ul {
		width: 100%;
		margin-bottom: 0;
	}
	#work, #education_bottom_container, #education_top_container {
		margin-left: 0;
	}

	#edu_and_work h1 {
		padding-left: 0;
	}

	#caldwell_work_title_and_date_right, #caldwell_work_title_and_date_left  {
		width: 100%;
		margin-bottom: 0;
		margin-top: 0;
	}

	#caldwell_work_title_and_date_left  {
		margin-top: 5px;
	}

	#caldwell_work_title_and_date_right {
		margin-bottom: 15px;
	}

	.header_large {
		display: none;
	}

	.header_small {
		display: block;
	}
}
